<p id="notice"><%= notice %></p>

<div class ="panel panel-default">
  <div class="panel-heading">
    <h3><strong><%= @forum.title %></strong></h3>
  </div>
<div class = "panel-body">
   <p>by <strong><%= link_to @forum.user.username, user_posts_path(id: @forum.user.id) %></strong> <span class="posted-at"> posted at: <%= @forum.created_at.strftime('%m/%d/%Y %I:%M%p') %></span></p>
  <p><%= @forum.entry %></p>
  </div>
  </div>
  
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Responses</h4>
    </div>
<% @forum.comments.reverse_each do |comment| %>
<div class="panel-body">
  <li><strong><%= link_to comment.user.username, user_posts_path(id: comment.user.id) %></strong> said: </li>
  <div class="container">
  <p><%= comment.comment_entry %></p>
  
  <% if current_user.id == comment.user.id %>
  <p><span class="posted-at"><%= comment.created_at.strftime('%m/%d/%Y %I:%M%p') %></span></p>
  <%= link_to 'Edit', edit_comment_path(comment), class: "btn-sm btn-warning" %>
  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %>
  <% end %>
  </div>
  </div>

<% end %>
      
      
  <div class="panel panel-default">
    <div class = "panel-heading">
      <strong>Respond to Forum</strong>
    </div>
    <div class ="panel-body">
      <%= render 'comments/form' %> 
    </div>
    
    <%= link_to 'Back', forums_path, class: "btn btn-warning" %>

