<p id="notice"><%= notice %></p>

<h1>Destiny <%= link_to 'Add New Activity', new_community_path, class:'btn btn-warning' %></h1>

   <ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "All", communities_path %></li>
  <li role="presentation" class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Activities <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
  <% @games.each do |game| %>
  <li><%= link_to game.game_title, communities_path(game_id: game.id)%></li>
  <% end %>
</ul>
</li>
</ul>
 <div class="row">
    <% @communities.each do |community| %>
      <div class="col-md-3">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong><%= community.activity %></h4></strong>
        </div>
        <div class="panel-body">
        <p>Posted at: <span class="posted-at"><%= community.created_at.strftime ('%m/%d/%Y at %l:%M%p') %></span></p>
        <p><strong>Gamertag: </strong><%= community.gamertag %></p>
        <p><strong>Description: </strong><%= community.description %></p>
                </div>
        
          <% if current_user.id == community.user.id %>
          <div class="panel-footer">
        <%= link_to 'Edit', edit_community_path(community), class: "btn-sm btn-default" %>
        <%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-sm btn-danger" %>
     </div>
     <% end %>
     </div>
     </div>
    <% end %>
    </div>
        
